<%= form_for @changeset, Routes.blogs_path(@conn, :save), fn f -> %>

  <label>
    Post Title: <%= text_input f, :post_title %>
  </label>

  <label>
    Post Text: <%= text_input f, :post_text %>
  </label>

  <%= submit "Submit" %>
<% end %>