
<h1>Blogs</h1>


<%= for post <- @posts do%>
<div>
    <h3><%= link("#{post.post_title}", to: "/blogs/#{post.id}", method: :get)  %></h3>
    <span> created by <%= post.user.username %></span>
    <hr>
</div>

<% end %>